body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header {
    background-color: #ebebeb;
}

nav {
    background-color: #ebebeb;
}

section {
    background-color: #ebebeb;
}

aside {
    background-color: #ebebeb;
}

footer {
    background-color: #ebebeb;
}

article {

}